.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/_book/
/_site/
/_targets/

# Quarto/LaTeX build artifacts generated at the project root
/*.aux
/*.bbl
/*.bcf
/*.blg
/*.fdb_latexmk
/*.fls
/*.lof
/*.log
/*.lot
/*.nav
/*.out
/*.run.xml
/*.snm
/*.spl
/*.synctex.gz
/*.toc
/*.vrb
/*.xdv
/A-Template-Quarto-Repository.tex
/index.pdf
/index.tex
/elsarticle-harv.bst
/elsarticle-num.bst
/elsarticle-num-names.bst
/elsarticle.cls

*_cache/
*-tikzDictionary
*_files/

**/*.quarto_ipynb
